
# JACKSON
spring:
  jackson:
    serialization:
      INDENT_OUTPUT: true

  datasource:
    url: jdbc:postgresql://ec2-54-228-181-43.eu-west-1.compute.amazonaws.com/d3d05l0qrroosj?ssl=true&sslfactory=org.postgresql.ssl.NonValidatingFactory
    #url: jdbc:mysql://localhost:3306/wordpress
    #driverClassName: com.mysql.jdbc.Driver
    driverClassName: org.postgresql.Driver
    #username: root
    #password: parola123

    username: zlkmefndobwqon
    password: d313db086cc6537beaa7777559ba448717bc94655c6e0a94b70e55a6f05c48be

  jpa:
    #database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    show-sql: true
    hibernate.ddl-auto: update

    database-platform: org.hibernate.dialect.PostgreSQL82Dialect
    database: postgresql


jwt:
  header: Authorization
  secret: /wKLE9vxudoWuZMwKHV63YCpADquNgt/K+HLPwfw0q4=
  expiration: 604800

route:
  register: register
  authentication:
    path: auth
    refresh: refresh
  profile:
    userprofile: getProfile
    saveprofile: saveProfile
  article:
    getarticles: getArticles
    createarticle: createArticle
    updatearticle: updateArticle
  comment:
    getcomments: getComments
    createcomment: createComment
    updatecomment: updateComment

logging:
  level:
    org.springframework:
      security: DEBUG